.user-modal {
  position: absolute;
  margin: 0px auto;
  inset: 120% 0 auto 0;
  left: unset;
  min-width: 230px;
}

.wrapper {
  min-width: 230px;
  padding: 12px !important;
  background: var(--white-color);
  box-shadow: 0 -4px 32px #0003;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  will-change: opacity, transform;
  color: #1d2129;
  color: var(--p-color-3);
  background: var(--bg-1);
}
.item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--p-color-3);
  padding: 10px;
  cursor: pointer;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
}

.item:hover {
  opacity: 0.8;
  background-color: #76798729;
}
