.user-modal {
  position: absolute;
  margin: 0px auto;
  inset: 110% 0 auto 0;
  left: unset;
  width: 520px;
  min-width: 230px;
}

.wrapper {
  flex: 1;
  padding: 24px 8px !important;
  background: var(--prism-bg);
  box-shadow: 0 -4px 32px #0003;
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
  will-change: opacity, transform;
  color: #1d2129;
  background: var(--bg-1);
}

.item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 1.4rem;
  color: #666;
  margin: 8px 0;
  padding: 8px 36px 8px 12px;
  cursor: pointer;

  border-radius: 10px;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  background: #f051231a;
  background-color: var(--white-color);
  transition: background-color 0.3s linear, opacity 0.3s linear;
}

.item:hover {
  opacity: 0.8;
  background-color: #76798729;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--app-button-color);
  font-size: 2.6rem;
  margin-bottom: 20px;
}

.notify-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  padding: 0 10px 0 6px;
  line-height: 18px;
  color: var(--text-color-1);
  flex: 1;
  word-break: break-word;
}

.created-time {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.notify-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 16px;
  border-radius: 50%;
  background-color: #3ea6ff;
  translate: 0 -10px;
}

.tick {
  color: var(--pro-icon-border-color);
  font-size: 1.2rem;
}
.avatar-img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
}
