.loading {
  display: flex;
  place-items: center;
  inset: 0;
  z-index: 9999;
}
.static {
  position: static;
}
.loading.fixed {
  position: fixed;
}
.loading.absolute {
  position: absolute;
}

.loading img {
  width: 30%;
  min-width: 32px;
  max-width: 312px;
  flex-shrink: 0;
  margin: auto;
  z-index: 9999;
}
